<!-- Cabecera -->
<header>
  <ul>
    <li><a [routerLink]="['/sobremi']" [routerLinkActive]="['actived']">Sobre mi</a></li>
    <li><a [routerLink]="['/proyectos']" [routerLinkActive]="['actived']">Proyectos</a></li>
    <li class="logo"><a href="#">MA</a></li>
    <li><a [routerLink]="['/crear']" [routerLinkActive]="['actived']">Crear</a></li>
    <li><a [routerLink]="['/contacto']" [routerLinkActive]="['actived']">Contacto</a></li>
  </ul>
</header>

<!-- Contenido de la web -->
 <section id="content">
   <router-outlet></router-outlet>
 </section>

 <!-- Pie de pagina -->
<footer>
  Master en JavaScript google.com &copy;
</footer>