<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{email}}</p>
</div>

<article class="about">
    <h2>Sobre mí</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam temporibus iusto, quasi aliquid error voluptas
        fugiat repudiandae autem exercitationem esse distinctio ex ad voluptatibus debitis laborum hic minima
        repellendus illum?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam temporibus iusto, quasi aliquid
        error voluptas fugiat repudiandae autem exercitationem esse distinctio ex ad voluptatibus debitis laborum hic
        minima repellendus illum?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam temporibus iusto, quasi
        aliquid error voluptas fugiat repudiandae autem exercitationem esse distinctio ex ad voluptatibus debitis
        laborum hic minima repellendus illum?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam temporibus
        iusto, quasi aliquid error voluptas fugiat repudiandae autem exercitationem esse distinctio ex ad voluptatibus
        debitis laborum hic minima repellendus illum?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam
        temporibus iusto, quasi aliquid error voluptas fugiat repudiandae autem exercitationem esse distinctio ex ad
        voluptatibus debitis laborum hic minima repellendus illum?Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Quam temporibus iusto, quasi aliquid error voluptas fugiat repudiandae autem exercitationem esse
        distinctio ex ad voluptatibus debitis laborum hic minima repellendus illum?</p>
</article>